/* ------------------------------
   TIPOGRAFÍA GLOBAL
--------------------------------*/
body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-primary);
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1.no-style,
h2.no-style,
h3.no-style,
h4.no-style,
h5.no-style,
h6.no-style {
  color: inherit;
}

/* Tamaños */
h1 { font-size: 3rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

/* Párrafos */
p {
  margin-bottom: 1em;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

/* Enlaces */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 14px;
  margin: 15px 0;
}

a:hover {
  color: var(--color-primary-dark);
}

span {
  font-size: 12px;
}
