<?xml version="1.0" encoding="UTF-8"?>
<!--
Este archivo configura PHPUnit para el proyecto. 
Indica qué carpeta contiene las pruebas, qué archivo debe cargarse antes de ejecutarlas 
y qué ajustes de PHP deben aplicarse durante la ejecución. 
Gracias a esto, PHPUnit puede encontrar los tests, cargar las clases automáticamente 
y mostrar los errores y resultados de forma clara.
-->
<phpunit 
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
>

    <testsuites>
        <testsuite name="Proyecto Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
    </php>

</phpunit>
