.user-products {
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: var(--color-surface);
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-placeholder {
  font-size: 40px;
  margin-top: 10px;
  color: var(--color-muted);
}
.user-products h2{
    text-align: center;
}


body.dark-mode p {
  color: var(--color-text-dark);
}

.perfil-box {
  display: block;          /* ocupa su propio bloque */
  min-width: 250px;        /* tamaño mínimo */
  max-width: 400px;        /* tamaño máximo más compacto */
  width: auto;             /* se ajusta al contenido */
}

.perfil-box .list-group-item {
  min-height: 50px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

