/* Ajuste general del modelo de caja */
* {
    box-sizing: border-box; /* Evita que el padding y borde alteren el tamaño total del elemento */
}

/* Efecto al hacer clic (ligero encogimiento) */
.buttom:active {
    transform: scale(0.95);
}

/* Quitar borde al enfocar */
.buttom:focus {
    outline: none;
}

/* Fondo para modo oscuro */
body.dark-mode {
    background-color: var(--color-background-dark);
}

/* Efecto hover en botón de alternancia */
.toggle-btn:hover {
    transform: scale(1.05);
}

/* Contenedor principal de login */
.login-container {
    background-color: var(--color-background);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22); /* Sombra para efecto de tarjeta */
    width: 360px !important;
    height: 500px;
    max-width: 100%;
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}
